@media (max-width: 768px) {
  .absolute {
    display: none;
  }

  .text-2xl {
    font-size: 1.3rem;
  }
  
  .text-xl {
    font-size: 1rem;
  }

  .flex.items-start {
    flex-direction: column;
  }

  .pl-8 {
    padding-left: 0;
  }

  .text-right {
    text-align: left;
  }

  .mr-20 {
    margin-right: 0;
  }
}